@media only screen and (max-width: 600px) {
    /* hide PC */
    #PC_header{
        display: none;
    }
    /* background */
    body {
        margin: 0 auto;
    }
    main {
        background: url(../img/background.png) no-repeat;
        background-size: cover;
    }
    /* header */
    
    #mobile_header {
        width: 100%;
        height: 100px;
        background-color: darkseagreen;
        display: flex;
    }
    #mobile_header div > a >img {
        display: block;
        width: 80px;
        margin: 0 auto 0 auto;
    }
    #mobile_meal_planner_nav {
        height: 100%;
        flex: 1;
    }
    #mobile_home_page_nav {
        height: 100%;
        flex: 3;
        margin: 0 auto 0 auto;
    }
    #mobile_grocery_list_nav {
        height: 100%;
        flex: 1;
    }
}
/* js add class */
.hide{
    display: none;
}
.show{
    display: inline;
}
.planned {
    color: forestgreen;
}
.un_planned {
    color: gainsboro;
}