@media only screen and (max-width: 600px) {
	/* hide PC */
	#PC_header{
		display: none;
	}
	/* background */
	/* Remove side margins */
	body {
		margin: 0 auto;
	}
	main {
		/* Used to maximize background */
		background-size: cover;
	}
	
	/* header */
	#mobile_header {
		height: 85px;
		background-color: #8dc289;
		display: flex;
	}
	#mobile_meal_planner_nav {
		flex: 1;
	}
	#mobile_home_page_nav {
		flex: 3;
	}
	#mobile_grocery_list_nav {
		flex: 1;
	}
	/* logo */
	#mobile_home_page_nav >img {
		display: block;
		width: 80px;
		margin: 0 auto;
	}
	/* nav icons */
	.nav_side_icons {
		display: block;
		width: 55px;
		height: 55px;
		margin: calc(35px/2);
	}
}

/* js show/hide animations*/
.hide{
	display: none;
}
.show{
	display: inline;
}

/* dot colors */
.planned {
	color: #8dc289;
}
.un_planned {
	color: #737373;
}