/* mobile */

@media only screen and (max-width: 600px) {

	body {
		background-image: url("../img/homePageGreenBackground.jpg");
		background-size: cover;
	}
	/* Logo */
	#title_container {
		margin: auto;
		padding-top: 37.5px;
		width: 175px;
	}
	#landing_logo {
		height: 207px;
		width: 175px;
	}
	/* Title Backdrop */
	#content_container {
		background-image: url("../img/homePageGlassBg.png");
		background-size: cover;
		border-radius: 8px;
		box-shadow: 1px 2px 3px gray;
		height: 340px;
		margin: auto;
		margin-top: -90px;
		padding-top: 10px;
		width: 250px;
	}
	/* Title */
	#content_container {
		color: white;
		font-family: "Agency FB", Helvetica, sans-serif;
		font-size: 60px;
		font-weight: normal;
		text-align: center;
		text-shadow: 1px 1px 1px #000000;
	}
	#content_container p{
		font-size: 60px;
	}
	.first_letter {
		font-size: 90px;
	}
	#content_container p:first-child {
		margin: 80px 0 0 0;
	}
	#content_container p {
		margin: 0;
	}
	/* Google Sign In Button */
	#sign_in_container {
		background-color: white;
		border-radius: 4px;
		margin: auto;
		margin-top: 50px;
		width: 250px;
	}
	#sign_in_container input {
		border-radius: 4px;
		box-shadow: 1px 2px 3px #000000;
		margin: auto;
		width: 250px;
	}
	
}