/* mobile */

@media only screen and (max-width: 600px) {

	#title_container {
		margin: auto;
		padding-top: 25px;
		width: 325px;
	}
	#landing_logo {
		height: 172px;
		width: 325px;
	}
	.slogan {
		font-family: Helvetica, "Agency FB", sans-serif;
		text-align: center;
	}
}