/* mobile */

@media only screen and (max-width: 600px) {

	body {
		background-image: url("../img/homePageGreenBackground.jpg");
		background-size: cover;
	}
	/* Logo */
	#title_container {
		margin: auto;
		padding-top: 20px;
		width: 140px;
	}
	#landing_logo {
		height: 166px;
		width: 140px;
	}
	/* Title Backdrop */
	#content_container {
		background-image: url("../img/homePageGlassBg.png");
		background-size: cover;
		border-radius: 8px;
		box-shadow: 1px 2px 3px gray;
		margin: auto;
		margin-top: -90px;
		min-height: 50vh;
		padding: 10px 0;
		width: 70%;
	}
	/* Title */
	#content_container {
		color: white;
		font-family: "Agency FB", Helvetica, sans-serif;
		font-size: 3em;
		font-weight: normal;
		text-align: center;
		text-shadow: 1px 1px 1px #000000;
	}
	#content_container p{
		font-size: 1em;
	}
	.first_letter {
		font-size: 2em;
	}
	#content_container p:first-child {
		margin: 60px 0 0 0;
	}
	#content_container p {
		margin: 0;
	}
	/* Google Sign In Button */
	#sign_in_container {
		border-radius: 4px;
		margin: auto;
		margin-top: 50px;
		width: 250px;
	}
	#sign_in_container input {
		border-radius: 4px;
		box-shadow: 1px 2px 3px #000000, 0 0 0 10px #FFFFFF inset;
		margin: auto;
		width: 250px;
	}
	
}