/* mobile */



@media only screen and (max-width: 600px) {
    body {
		font-family: "Trebuchet MS", Helvetica, "MS sans serif", Verdana, sans-serif;
	}
	
	/* header */
    #mobile_home_page_nav {
        background-color: forestgreen;
    }
    
    /* content section */
    #affiliates_title{
        font-size: 50px;
        position: relative;
        width: 94%;
        height: 50px;
        margin: 0 auto 0 auto;
        overflow: hidden;
		text-align: center;
		color: rgb(114, 135, 37);
    }
    #affiliates_title div{
        width: 100%;
        position: absolute;
    }
	#affiliates_info {
		padding: 3%;
	}
	#default_message {
		text-align: center;
		color: rgb(238, 124, 72);
	}
	#affiliates_list{
        width: 94%;
        margin: 0 auto 0 auto;
    }
	#affiliates_list div > img{
        width: 100%;
        height: 100%;
    }
	#expand_educational, #expand_behavioral, #expand_awareness{
		background-color: rgb(215, 227, 191);
		color: white;
		font-size: 50px;
	}
	
}
/* PC */

@media only screen and (min-width: 600px) {
    /* hide mobile */
    
    #mobile_header {
        display: none;
    }
    #affiliates_title{
        display: none;
    }
	#expand_educational{
		display: none;
	}
	#expand_behavioral{
		display: none;
	}
	#expand_awareness{
		display: none;
	}
}