body{
	background-color: #414ca8;
	font-family: "Trebuchet MS", Arial, sans-serif;
	text-align: left;
	color: #DDDDDD
}
a:link{
	text-decoration: underline;
	font-size: small;
	font-weight: bold;
	color: #3dfa85;
}
a:visited{
	text-decoration: underline;
	font-size: small;
	font-weight: bold;
	color: #3dfa85;
}
h1{
	color: white; 
	background-color: #144d36; 
	text-align: center; 
	font-family: Arial;
}
#navbar li{
	list-style-type: none;
	display: inline;
	margin-right: 25px;
}
.top5{
	list-style-type: square;
}
.copy{
	font-weight: bold;
	font-size: large;
}
.disclaimer{
	color: #FFEE00;
	font-style: italic;
}
img{
	width: 89px; 
	height: 40px;	
}