body, html {
	height: 100%;
	font-family: "Lucida Grande", sans-serif;
}

body {
	background-color: rgb(246,240,222);
	margin: 0;
	overflow: auto;
}

header { 	
	position: fixed;
	height: 100px;
	background-color: #006699;
	width: 100%;
	border-top: 10px solid rgb(101, 153, 205);
	color: white;
	font-size: 30px;
}

footer {
	position: fixed;
	height: 120px;
	background-color: rgb(237, 229, 206);
	bottom: 0;
	width: 100%;
}

footer #copyrights{ /*Developer section alignment */
	text-align: center;	
}

header div{
	width: 760px;
	margin: auto;
	vertical-align: top;
}
	
footer div{ /*Fixed width*/
	width: 760px;
	margin: auto;
}

header img{ 
	float: left;
}

#logo p {
	vertical-align: middle;
}

#content { /*Content containing both columns*/
	width: 760px;
	padding-top: 130px; /*Equal to header height + 30px */
	margin: auto;
	padding-bottom: 120px; /* Equal to footer height */
}

nav {
	float: left;
}

#cat img{ /*Image display same as Nav width */
	width: 196px;
	height: 100px;
}

#main {
	border-left: 1px solid rgba(22, 22, 22, 0.25);
	margin-left: 206px;
	padding-left: 10px;
	margin-top: 0;
	overflow: auto;
	width: 535px;
	height: 700px;
	padding-bottom: 10px;
}

#main p + img{ /*Separator properties*/
	width: 80%;
	margin-left: 10%;
}

h2{
	color: #006699;
	margin: 0;
}

#container1 { 
	background-image: url(starterImages/nav_side.jpg);
	width: 196px;
}

#container2 {
	background-image: url(starterImages/nav_btm.jpg);
	height: 8px;
	width: 196px;
}

.links div{
	border-bottom: 1px gray solid;
	color: #006699;
	font-weight: bold;
	margin: 5px;
	padding: 3px 0 0 0;
}

.links a{
	text-decoration: none;
}

.links a:link{ /*Same color link */
	color: #006699;
}
.links a:visited{ /*Same color link */
	color: #006699;
}

#first { /*First Nav link properties*/
	padding: 3px 0 0 0;
}

#last { /*Last Nav link properties*/
	border-bottom: none;
	margin: 0 5px;
}