form ul {
	list-style-type: none;
	padding-left: 10px;
}

.required {
	color: red;
}

#selPosition {
	width: 300px;
}

#txtStartDate_0 {
	width: 40px;
}

#txtStartDate_1 {
	width: 40px;
}

#txtStartDate_2 {
	width: 50px;
}

#txtPhone_0 {
	width: 40px;
}

#txtPhone_1 {
	width: 40px;
}

#txtPhone_2 {
	width: 50px;
}

#txtPortfolio, #txtEmail {
	width: 450px;
}

.label {
	display: inline-block;
}

.label p {
	font-size: x-small;
	margin: 5px 0 0 0;
}

#txtFirstName {
	width: 75px;
}

#txtLastName {
	width: 125px;
}

.blueFont {
	color: #006699;
}

.errorMessage {
	color: red;
	display: inline;
	font-size: small;
}