a{
	color:red;
}
.external{
	background-image: url(./images/external.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
}
#header {
	text-align: center;
	padding: 5px;
	border-bottom: dashed;
	border-width: thin;
}
body {
	border-style: dashed;
	border-width: thin;
	font-family: "Trebuchet MS";
	width: 850px;
	margin: 5px auto 0px auto;
}
#footer {
	text-align: center;
	border-top: dashed;
	border-width: thin;
	font-size: 85%;
}
h1{
	border-bottom: solid;
	border-bottom-width: 2px;
	padding: 20px 0 0 0;
	border-width: thin;
	margin: 0 20px;
}
h2{
	color: red;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-width: thin;
	margin: 0 20px;
}

div#content p{
	padding: 0 20px 0 20px;
	
}

.species{
	font-style: italic;
}
div#header img{
	border-style: solid;
	border-width: thick;
	border-color: black;
}
img{
	
}