#container1 {
	background-image: url(nav_side.jpg);
	width: 196px;
}

#container2 {
	background-image: url(nav_btm.jpg);
	height: 8px;
	width: 196px;
}

.links div{
	border-bottom: 1px gray solid;
	color: #006699;
	font-family: "Lucida Grande";
	font-weight: bold;
	margin: 5px 5px;
	padding: 2px 0 0 0;
}

#first {
	padding: 3px 0 0 0;
}

#last {
	border-bottom: none;
	margin: 0 5px;
}